.userHeader {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-left: auto;
  cursor: pointer;
}

.userNameHeader {
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  color: var(--userpage-text);
}
