/* font-family: 'Inter', sans-serif; */
ul, li{list-style-type: none;}

.container {

    margin: 0 auto;
    height: auto;
    max-width: 1440px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
}


@media screen and (min-width: 375px) {
    .main {
        box-sizing: border-box;
        margin: 0 auto;
        min-height: 100px;
        max-width: 375px;
        padding: 15px;
       
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }

         .block__num {
            font-size: 80px;
            font-weight: 700;
            line-height: 100%;

            padding: 0;
            margin: 20px 0 20px;
            color: #3E85F3;
         }
        .block__btn {
            font-family: Inter, sans-serif;
            font-size: 32px;
            line-height: 40px;
            font-weight: 700;
            color: #3E85F3;

            width: 214px;
            height: 56px;
            background-color: #DCEBF7;
            border-radius: 44px;
            border: none;
        }

        .block__tl {
            font-size: 32px;
            font-family: Inter;
            font-weight: 700;
            line-height: 40px;
            color: #171820;

            margin: 8px 0;
        }

        .block__par {
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;  

            width: 350px;
            min-height: 90px;

            margin: 0 0 22px 0;
        }

        .block_img {
            width: 335px;
            height: 457px;
            border-radius: 40px;
            margin: 0;
        }
/* 375 */
}

@media screen and (min-width: 768px) {

    .main {
            box-sizing: border-box;
            margin: 0 auto;
            min-height: auto;
            max-width: 768px;
            padding: 15px;
           
            
        }

        .block {
            min-height: auto;
           
        }

        .block__tl{
            font-size: 40px ;
            font-family: Inter;
            font-weight: 700;
            line-height: 44px;
            margin: 8px 0;
        }

        .block__num{
            font-size: 104px;
            padding: 0;
            margin: 20px 0 20px;
        }

        .block_img {
            width: 704px;
            height: 700px;
            border-radius: 40px;
            margin: 0;
        }

        .block__btn {
            font-size: 40px;
            line-height: 44px;
            font-weight: 700;
            color: #3E85F3;
            
            width: 264px;
            height: 56px;
        }
        .block__par {
            width: 350px;
            height: 90px;

            margin: 0 0 22px 0;
        }

        .block_rev .block_img {
                margin-top: 30px;
        }

        .block_rev .block__text {
            padding-left: 350px;
            
        }
}
/* 768 */

@media screen and (min-width: 1140px) {
 
    .main {
        max-width: 1350px;
    }
    .block {
        min-width: 1140px;
        min-height: 604px;
        
        display: flex;
        flex-direction: row;
        justify-content: center;

    }

    .block_rev {
        margin: 20px 0;
        min-width: 1140px;
        min-height: 604px;
       
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }

       
   .block_img{
        width: 604px;
        height: 700px;
        border-radius: 100px;
        margin: 0;
        
   }

   .block__num {
        font-size: 104px;

        padding: 0;
        margin: 20px 0 20px;
        
   }

   .block__btn{
        font-size: 40px;
        line-height: 44px;
        
        width: 264px;
        height: 56px;
        background-color: #DCEBF7;
        border-radius: 44px;
        border: none;
   }

   .block__par{
        width: 276px;
        height: 108px;

        margin: 15px 0px;
   }

   .block__text{
    margin: 70px;
    display: block;
    padding-left: 0;
   }

   .block_rev .block__text {
      padding-left: 0;
   }
}