// .caledr_header_wrapper {
//   display: flex;
//   justify-content: space-between;
//   height: 34px;
//   margin-bottom: 32px;

//   /* outline: 1px solid red; */
// }

// .caledr_wrapper_month_prev_next {
//   display: flex;
//   align-items: center;
// }
// .caledr_month_title_wrap {
//   background-color: #3e85f3;
//   padding: 8px 12px;
//   border-radius: 8px;
//   margin-right: 8px;
// }
// .caledr_month_title {
//   font-size: 16px;
//   text-align: center;
//   font-weight: 700;
//   text-transform: uppercase;
//   color: #fff;
// }
// .caledr_header_wrapper_btn {
//   display: flex;
// }
// a {
//   text-decoration: none;
//   color: #3e85f3;
// }
// .btn {
//   cursor: pointer;
//   background-color: #fff;
//   border: 1px solid rgba(220, 227, 229, 0.8);
//   height: 34px;
// }
// .btn_arrow {
//   width: 38px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
// .prev {
//   border-right: 0px;
//   border-top-left-radius: 8px;
//   border-bottom-left-radius: 8px;
// }

// .next {
//   border-top-right-radius: 8px;
//   border-bottom-right-radius: 8px;
// }
// .month {
//   border-top-left-radius: 8px;
//   border-bottom-left-radius: 8px;
// }
// .month_day {
//   font-weight: 500;
//   font-size: 16px;
//   width: 82px;
//   border: none;
//   color: #3e85f3;
//   background: #e3f3ff;
// }
// .day {
//   border-left: 1px solid rgba(62, 133, 243, 0.2);
// }

// .active {
//   background: #cae8ff;
// }
.caledr_header_wrapper {
  justify-content: space-between;
  min-height: 34px;
  flex-wrap: wrap;
  @media screen and (min-width: 769px) {
    display: flex;
  }
}

.caledr_wrapper_month_prev_next {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
  @media screen and (min-width: 769px) {
    margin-bottom: 20px;
  }
}
.btn_prev_next {
  display: flex;
}

.caledr_month_title_wrap {
  text-align: center;
  min-width: 94px;
  background-color: #3e85f3;
  padding: 8px 12px;
  border-radius: 8px;

  @media screen and (min-width: 769px) {
    margin-right: 8px;
  }
}

.caledr_month_title {
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.1;
  }
}

a {
  text-decoration: none;
  color: var(--accent-text-color)
}

.btn {
  cursor: pointer;
  background-color: var(--primary-background-color);
  border: 1px solid rgba(220, 227, 229, 0.8);
  height: 34px;
}

.btn_arrow {
  width: 38px;
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.prev {
  border-right: 0px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.next {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: var(--primary-text-color);
}

.caledr_header_wrapper_btn {
  display: flex;
  // @media screen and (min-width: 769px) {
  //   margin-top: 7px;
  // }
}

.month {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  margin-right: 0;
}

.month_day {
  font-weight: 500;
  font-size: 16px;
  width: 82px;
  border: none;
  color: var(--accent-btn-background);
  background: var(--button-period-type);
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.1;
  }
}

.day {
  border-left: 1px solid rgba(62, 133, 243, 0.2);
}

.active {
  background: #cae8ff;
}