.days_wrapper {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(7, 1fr);
  background: var(--primary-background-color);
  margin-bottom: 16px;
  border: 1px solid rgba(219, 227, 230, 0.8);
  border-radius: 8px;
  min-height: 46px;
  overflow: hidden;
}

.days_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.days {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: #616161;
}
.weekend {
  color: #3e85f3;
}
