.mainPage {
  display: flex;
  min-height: 100vh;
}
.appPage {
  padding: 40px 32px 32px;
  flex: 1;
  overflow: hidden;
  & > *:first-child {
    margin-bottom: 32px;
  }
}

.appPage {
  background-color: var(--secondary-background-color);
}
