.container {
  background-color: var(--secondary-background-color);
  background: linear-gradient(
    90deg,
    var(--sidebar-background-color) 45%,
    var(--secondary-background-color) 45% 100%
  );
}
.mainPage {
  display: flex;
  min-height: 100vh;
  max-width: 1600px;
  margin: 0 auto;
}
.appPage {
  padding: 40px 32px 32px;
  flex: 1;
  overflow: hidden;
  & > *:first-child {
    margin-bottom: 32px;
  }
}

.appPage {
  background-color: var(--secondary-background-color);
}
