.filterBox {
  position: relative;
  color: #212529;

  & > label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    padding: 1rem 0.75rem;
    overflow: hidden;
    text-align: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
  }

  & > input {
    padding: 1rem 2rem 1rem 1rem;
    display: block;
    width: 33%;
    height: 3.5rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #dee2e6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
      width 0.25s ease-in-out;

    &:focus {
      color: #212529;
      background-color: #fff;
      border-color: #86b7fe;
      outline: 0;
      box-shadow: 0 0 0 0.25rem #0d6efd40;
      padding-top: 1.625rem;
      padding-bottom: 0.625rem;
      width: 100%;
    }
    &:not(:placeholder-shown) {
      padding-top: 1.625rem;
      padding-bottom: 0.625rem;
      width: 100%;
    }
    &:focus ~ label,
    &:not(:placeholder-shown) ~ label {
      color: rgba(33, 37, 41, 0.65);
      transform: scale(0.85) translateY(-0.5rem) translate(0.15rem);
    }
  }
}

.clearFilterIcon {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  color: rgba(106, 49, 49, 0.782);
}
