.mainPage {
  display: flex;
  min-height: 100vh;
}
.appPage {
  background-color: #f7f6f9;
  padding: 40px 32px 32px;
  flex: 1;

  & > *:first-child {
    margin-bottom: 32px;
  }
}

.darkTheme{
  background-color: #13151A;
}
