@import '../../../styles/vars';

.header {
  display: flex;
  justify-content: space-between;
  padding: 7px 0px;
  margin-bottom: 24px;
}

.columnTitle {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: var(--primary-text-color);
}

.iconButton {
  display: flex;
  border-radius: 50%;
  stroke: var(--primary-text-color);
  fill: transparent;
  width: 26px;
  height: 26px;
  align-items: center;
  justify-content: center;
  z-index: 1;

  &:hover,
  &:focus {
    stroke: var(--accent-background-color);
  }
}

.icon {
  width: 20px;
  height: 20px;
}

.iconButton:hover .icon,
.iconButton:focus .icon {
  stroke: #3E85F3
}