.radioGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.radioLabel {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 16px;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #616161;
}
.radioInput {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radioButton {
  display: inline-block;
  position: relative;
  width: 10px;
  height: 10px;
  margin-right: 8px;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: var(--task-priority-low-color);
}

.radioButton.blue {
  background-color: var(--task-priority-low-color);
}

.radioButton.green {
  background-color: var(--task-priority-medium-color);
}

.radioButton.red {
  background-color: var(--task-priority-high-color);
}

.radioInput:checked ~ .radioButton:after {
  display: block;
}

.active {
  width: 14px;
  height: 14px;
  box-shadow: inset 0 0 0 2px var(--primary-background-color),
    0 0 2px 2px var(--primary-background-color);
}
