@import './../../styles/vars';
@import './../../styles/fonts';
.title {
  color: rgba(52, 52, 52, 0.8);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
}

.flex {
  display: flex;
  margin-top: 18px;
}
.start {
  margin-right: 14px;
}
// .label {
//   color: $sidebar-background-color;
//   text-align: left;
// }
.input {
  width: 267px;
  padding: 14px;
  padding-left: 18px;
  margin-top: 8px;
  border: 1px solid #f7f7f7;
  color: $secondary-text-color;
  background-color: $task-input-bg-color;
  border-radius: 8px;
}
.timeInput {
  width: 126px;
  padding: 14px;
  padding-left: 18px;
  margin-top: 8px;
  border: 1px solid #f7f7f7;
  color: $secondary-text-color;
  background-color: $task-input-bg-color;
  border-radius: 8px;
}
.check {
  margin-right: 18px;
}
.checkbox {
  margin-right: 6px;
}
.button {
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 16px;
  width: 100%;
  cursor: pointer;

  border: none;
  background: $accent-background-color;
  box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48);
  border-radius: 8px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: white;

  cursor: pointer;
}
.btn_cansel {
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: 14px;
  padding: 16px;
  width: 100%;
  cursor: pointer;

  border: 2px solid $accent-background-color;
  background: white;
  box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48);
  border-radius: 8px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: black;

  cursor: pointer;
}
.button:disabled {
  opacity: 0.35;
}
.logo {
  margin-right: 10px;
}
