*{}

.box_position{
    position: relative;
}

.img__style {

    border-radius: 15px;
    width: 296px;
    height: 265px;
    margin-bottom: 30px;
 }

.link_icon_Li{
    display: block;
    width: 32px;
    height: 32px;
    
    position: absolute;
    top: 272px;
    left: 97px;

}

.link_icon_Li:hover,
.link_icon_Gi:hover{
transform: scale(1.1);
transition-duration: 300ms;
}

.link_icon_Gi {
    display: block;
    width: 32px;
    height: 32px;
   
    position: absolute;
    top: 272px;
    left: 137px;

}

.square {
    height: auto;
    max-width: 300px;
    
    margin: 15px;
    padding: 15px 15px 22px 15px;
    background-color: #DCEBF7;
    border-radius: 7px;

    box-shadow: 5px 4px 8px 2px rgba(0, 0, 0, 0.3);
}
.block__prof {
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .name__of {
     margin: 14px 0 6px;
     font-size: 18px;
     color: #3E85F3;
     text-align: center;
 }

 .profession {

     color: #000000;
     font-weight: 700;

 }

 .container{

    display:flex;
    flex-direction: row;
    justify-content: center;
    border: 3px dashed red;

 }

@media screen and (min-width: 375px) {

    .section {
    background-color: #3E85F3;

        width: 100%;
        padding: 50px 0;
        
    }

    .container {
        
        margin: 0 auto;
        
    }

  

   
}

// 375

@media screen and (min-width: 768px) {
   
  
}

@media screen and (min-width: 1200px) {
   

 

        .section {
            // margin: 50px 0;
            width: 100%;
            height: auto;
    
        }
         .container{
            max-width: 1200px;
         } 
}