@import '../../../styles/vars';

.column {
  max-height: 65vh;
  background-color: var(--background-color-task-column);
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  overflow-y: scroll;
  margin: 0 6px 0 18px;
  padding-right: 6px;

  @media screen and (min-width: 768px) {
    margin: 0 6px 0 20px;
    padding-right: 6px;
  }

  &::-webkit-scrollbar {
    width: 6px;

    @media screen and (min-width: 768px) {
      width: 8px;
    }
  }

  &::-webkit-scrollbar-track {
    background: var(--scrollbar-bg-color-task);
    border-radius: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color-task);
    border-radius: 12px;
  }
}
