.sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--sidebar-background-color);
  width: 289px;
  padding: 32px 24px 24px;
  border-right: 1px solid rgba(220, 227, 229, 0.5);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;

  .logo {
    height: 68px;
    display: flex;
    align-items: center;
    margin-bottom: 32px;

    .logoText {
      font-family: 'Coolvetica';
      font-size: 24px;
      color: var(--logo-text-color);
      line-height: 1;
      text-shadow: 0px 47px 355px rgba(0, 0, 0, 0.07),
        0px 9.4px 57.6875px rgba(0, 0, 0, 0.035);
      padding-left: 10px;
      margin-right: auto;
    }

    .logoImg {
      height: 100%;
    }
  }

  .closeIcon {
    display: none;
  }
  @media screen and (max-width: 1400px) {
    width: 289px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -290px;
    transition: left 250ms ease-in;

    .logo {
      height: 58px;
      margin-bottom: 50px;

      .logoText {
        font-size: 18px;
        line-height: 1.33;
        padding-left: 6px;
      }
    }

    &.open {
      left: 0;
    }

    .closeIcon {
      display: block;
      width: 24px;
      height: 24px;
      stroke: var(--primary-text-color);
    }
  }

  @media screen and (max-width: 767px) {
    width: 225px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100vw;
    transition: left 250ms ease-in;

    .logo {
      height: 35px;
      margin-bottom: 64px;

      .logoText {
        font-size: 16px;
        line-height: 1.22;
        padding-left: 6px;
      }
    }

    &.open {
      left: 0;
    }

    .closeIcon {
      display: block;
      width: 24px;
      height: 24px;
      stroke: var(--primary-text-color);
    }
  }
}

.overlay {
  background-color: rgba(208, 208, 208, 0);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}
