/* Задаємо розміри для контейнера іконок */
.langBox {
  display: flex;
  // flex-direction: column;
  list-style: none;
  gap: 8px;
  // background-color: var(--secondary-background-color);
}

/* Задаємо стилі для кожної окремої іконки */
.iconInner {
  width: 32px;
  height: 28px;
  border-radius: 20% 0 20% 0;
  overflow: hidden;
  //   margin-right: 10px; /* Налаштовуйте відступи за потребою */
}

.langIcon {
  width: 100%;
  height: 100%;
}

container {
  position: relative;
}

.select {
  position: relative;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: none;
  text-transform: capitalize;
  color: #fff;
  background: #292929;
  text-align: left;
  padding: 0 15px;
  font-size: 16px;
  cursor: pointer;
}

.select::after {
  content: '';
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  width: 6px;
  height: 6px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.select:hover {
  background: #222222;
}

.select.active {
  background: #222222;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.options {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: fit-content;
  background: rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  display: none;
}

.options.active {
  display: block;
}

.options .item {
  color: #fff;
  text-transform: capitalize;
  width: 100%;
  height: 30px;
  padding: 0 15px;
  line-height: 30px;
  cursor: pointer;
}

.options .item.active {
  background: #292929;
}
