@import '../../../styles/vars';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 48px;
  border-radius: 8px;
  background-color: var(--active-item-sidebar-background);
  border: var(--border-add-button);
  padding: 16px 20px 16px 20px;
  font-family: $primary-font;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  color: var(--primary-text-color);
  cursor: pointer;
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
  stroke: var(--primary-text-color);
  transition: all linear 350ms;

  &:hover,
  &:focus {
    stroke: var(--close-btn-color);
    background-color: var(--accent-add-btn-background);
    border: 1px solid var(--accent-add-btn-background);
    color: var(--close-btn-color);
  }
}

.icon {
  width: 14px;
  height: 14px;
  margin-right: 13px;
}
