

.header {
  display: flex;
  align-items: center;

  .themeIcon {
    & > svg {
      width: 32px;
      height: 32px;
    }
  }

  .title{
    display: none;
    @media screen and (min-width: 1400px) {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 32px;
    line-height: 1;
    color: var(--userpage-text);
    display: block;
    margin-left: 32px;
  }}
  
  .user {
    display: flex;
    align-items: center;

    gap: 14px;
    margin-left: auto;
    
    & > .userName {
      font-weight: 700;
      font-size: 18px;
      line-height: 1;
      color:var(--userpage-text);
      text-transform: capitalize;
    }
    
    & > .userAvatar {
      height: 44px;
      width: 44px;
      border: 1.8px solid #3e85f3;
      border-radius: 50%;
    }
  }
  
  @media screen and (max-width: 1400px) {
    & > svg {
      width: 34px;
      height: 34px;
    }

    .themeIcon {
      & > svg {
        width: 32px;
        height: 32px;
      }
    }

    .user {
      gap: 14px;

      & > .userName {
        font-size: 14px;
        line-height: calc(18px / 14px);
      }

      & > .userAvatar {
        height: 44px;
        width: 44px;
      }
    }
        .burger {
      stroke: var(--primary-text-color);
    }
 

  }
  
  @media screen and (max-width: 375px) {
    & > svg {
      width: 24px;
      height: 24px;
    }
    
    .themeIcon {
      & > svg {
        width: 24px;
        height: 24x;
      }
    }

    .user {
      gap: 14px;

      & > .userName {
        font-size: 14px;
        line-height: calc(18px / 14px);
      }

      & > .userAvatar {
        height: 32px;
        width: 32px;
      }
    }
  }


  @media screen and (min-width: 1400px) {
    .burger {
      display: none;
    }
  }
}


.blockMessage {
  display: none;
  @media screen and (min-width: 1400px) {
  margin-left: 32px;
  display: flex;
  }
}
.img{
  background-image: url('./Goose.png');
  background-repeat: no-repeat;
  width: 64px;
  height: 60px;
}

.div{
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.titleTask{
  font-family: 'Inter';
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
  color: var(--userpage-text);
  display: block;
  margin-bottom: 8px;
}


.message{
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;
  color: var(--primary-text-color);
}

.spanMsg{
  color: #3E85F3;
}