.header {
  display: flex;
  align-items: center;

  .themeIcon {
    & > svg {
      width: 32px;
      height: 32px;
    }
  }

  .user {
    display: flex;
    align-items: center;

    gap: 14px;
    margin-left: auto;
    
    & > .userName {
      font-weight: 700;
      font-size: 18px;
      line-height: 1;
    }
    
    & > .userAvatar {
      height: 44px;
      width: 44px;
      border: 1.8px solid #3e85f3;
      border-radius: 50%;
    }
  }
  
  @media screen and (max-width: 768px) {
    & > svg {
      width: 34px;
      height: 34px;
    }

    .themeIcon {
      & > svg {
        width: 32px;
        height: 32px;
      }
    }

    .user {
      gap: 14px;

      & > .userName {
        font-size: 14px;
        line-height: calc(18px / 14px);
      }

      & > .userAvatar {
        height: 44px;
        width: 44px;
      }
    }
  }
  
  @media screen and (max-width: 375px) {
    & > svg {
      width: 24px;
      height: 24px;
    }
    
    .themeIcon {
      & > svg {
        width: 24px;
        height: 24x;
      }
    }

    .user {
      gap: 14px;

      & > .userName {
        font-size: 14px;
        line-height: calc(18px / 14px);
      }

      & > .userAvatar {
        height: 32px;
        width: 32px;
      }
    }
  }


  @media screen and (min-width: 769px) {
    .burger {
      display: none;
    }
  }
}
