.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--auth-bg-color);
  height: 100vh;
  width: 100%;
}
.titleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: var(--btn-text-color);
  border-radius: 8px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 24px;
  padding-left: 24px;
  width: 100%;
  @media screen and (min-width: 768px) {
    margin: 0 auto;
    width: 480px;
  }
}
.title {
  text-shadow: 0px 47px 355px rgba(0, 0, 0, 0.07),
    0px 9.4px 57.6875px rgba(0, 0, 0, 0.035);
  color: var(--button-background-color);
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 1;
    margin-bottom: 40px;
  }
}
.label {
  position: relative;
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  color: var(--userpage-text);
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.2;
  }
}
.input {
  position: relative;
  background: var(--btn-text-color);
  border: 1px solid rgba(220, 227, 229, 0.6);
  border-radius: 8px;
  padding: 14px;
  width: 100%;
  font-size: 14px;
  line-height: 1.29;
  color: var(--primary-text-color);
  &:focus {
    border: 1px solid #111111;
  }
  &:hover {
    border: 1px solid #111111;
  }
  &::placeholder {
    color: #dce3e5;
    font-size: 14px;
  }
  @media screen and (min-width: 768px) {
    padding: 18px;
  }
}
.button {
  background: var(--button-background-color);
  border-radius: 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: white;
  padding: 14px;
  width: 100%;
  margin-top: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: box-shadow linear 350ms;

  &:focus {
    border: 2px solid var(--accent-background-color);
    box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48);
  }
  &:hover {
    border: 2px solid var(--accent-background-color);
    box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48);
  }
  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.33;
  }
}
.link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.16;
  color: var(--button-background-color);
  text-shadow: 0px 47px 355px rgba(0, 0, 0, 0.07),
    0px 9.4px 57.6875px rgba(0, 0, 0, 0.035);
  margin: 18px auto;
  text-decoration: underline;
  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
  &:focus {
    transform: scale(1.5);
    transition-duration: 500ms;
  }
  &:hover {
    transform: scale(1.2);
    transition-duration: 500ms;
  }
}
.icon {
  width: 18px;
  height: 18px;
  margin-left: 11px;
  @media screen and (min-width: 768px) {
    width: 20px;
    height: 20px;
  }
}
.bgimages {
  @media screen and (min-width: 1300px) {
    background-image: url('./../../images/signUp1x.png');
    background-repeat: no-repeat;
    bottom: 0;
    left: 76px;
    position: absolute;
    width: 352.8px;
    height: 329.53px;
    background-size: 352.8px 329.53px;
    // transform: rotate(-9.2deg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('./../../images/signUp2x.png');
  }
}
.bgImagesMsg {
  @media screen and (min-width: 1300px) {
    background-image: url('./../../images/singUpMsg.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 174px;
    height: 123px;
    background-size: 174px 123px;
    bottom: 272px;
    left: 100px;
  }
}
.bgImagesText {
  display: none;
  @media screen and (min-width: 1300px) {
    display: block;
    text-align: center;
    margin-top: 35px;
    margin-left: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.14;
    color: black;
    transform: rotate(-27deg);
    width: 140px;
    height: 48px;
  }
}
.span {
  color: var(--button-background-color);
}
.spanIcon {
  color: var(--button-background-color);
  &:focus {
    transform: scale(1.4);
    transition-duration: 500ms;
  }
  &:hover {
    transform: scale(1.4);
    transition-duration: 500ms;
  }
}
.labelText {
  margin-bottom: 8px;
}
.feedback {
  height: 25px;
  margin-top: 8px;
  margin-left: 10px;
}
.invalidFeedback {
  color: #dc3545;
  font-size: 12px;
}
.isInvalidLabel {
  position: relative;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  color: #dc3545;
  margin-bottom: 8px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.2;
  }
}
.isValidLabel {
  position: relative;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  color: #3cbc81;
  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.2;
  }
}
.isInvalid {
  position: relative;
  background: var(--btn-text-color);
  border: 1px solid #dc3545;
  border-radius: 8px;
  padding: 14px;
  width: 100%;
  font-size: 14px;
  line-height: 1.29;
  color: var(--primary-text-color);
  &:focus {
    border: 1px solid #111111;
  }
  &:hover {
    border: 1px solid #111111;
  }
  &::placeholder {
    color: #dce3e5;
    font-size: 14px;
  }
  @media screen and (min-width: 768px) {
    padding: 18px;
  }
}
.btnToggle {
  position: absolute;
  right: 20px;
  bottom: 55px;
}
.isValid {
  position: relative;
  background: var(--btn-text-color);
  border: 1px solid #3cbc81;
  border-radius: 8px;
  padding: 14px;
  width: 100%;
  font-size: 14px;
  line-height: 1.29;
  color: var(--primary-text-color);

  &:focus {
    border: 1px solid #111111;
  }

  &:hover {
    border: 1px solid #111111;
  }

  &::placeholder {
    color: #dce3e5;
    font-size: 14px;
  }

  @media screen and (min-width: 768px) {
    padding: 18px;
  }
}
