@import './../../styles/vars';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: $auth-bg-color;
    height: 100vh;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: $btn-text-color;
    border-radius: 8px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 24px;
    padding-left: 24px;
    @media screen and (min-width: 768px) {
        margin: 0 auto;
        max-width: 480px;
    }
}

.title {
    text-shadow: 0px 47px 355px rgba(0, 0, 0, 0.07), 0px 9.4px 57.6875px rgba(0, 0, 0, 0.035);
    color: #3E85F3;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    @media screen and (min-width: 768px) {
        font-size: 24px;
        line-height: 1;
    }
}

.label {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    color: $close-btn-color;
    margin-bottom: 8px;
    margin-top: 24px;

    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 1.2;
        margin-top: 18px;
    }
}

.input {
    background: $btn-text-color;
    border: 1px solid rgba(220, 227, 229, 0.6);
    border-radius: 8px;
    padding: 14px;
    width: 100%;
    font-size: 14px;
    line-height: 1.29;
    color: $primary-text-color;

    &:focus {
        border: 1px solid #111111;
    }
    &:hover {
        border: 1px solid #111111;
    }
    &::placeholder {
        color: #DCE3E5;
        font-size: 14px;
    }

    @media screen and (min-width: 768px) {
        padding: 18px;
    }
}

.button {
    background: $accent-background-color;
    box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48);
    border-radius: 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: $btn-text-color;
    padding: 14px;
    width: 100%;
    margin-top: 32px;
    align-items: center;
    display: flex;
    justify-content: center;

    &:focus {
        background: #2B78EF;
        box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48);
    }
    &:hover {
        background: #2B78EF;
        box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48);
    }

    
    @media screen and (min-width: 768px) {
        font-size: 18px;
        line-height: 1.33;
    }
}

.link{
    font-weight: 600;
    font-size: 12px;
    line-height: 1.16;
    color: $accent-background-color;
    text-shadow: 0px 47px 355px rgba(0, 0, 0, 0.07), 0px 9.4px 57.6875px rgba(0, 0, 0, 0.035);
    margin: 18px auto;
    text-decoration: underline;
}

.icon {
    width: 18px;
    height: 18px;
    margin-left: 11px;
    @media screen and (min-width: 768px) {
        width: 20px;
        height: 20px;
    }
}


.bgimages {
    @media screen and (min-width: 1200px) {
        background-image: url('./../../images/signUp1x.png'); 
        background-repeat: no-repeat;
        bottom: 0;
        left: 76px;
        position: absolute;
        width: 352.8px;
        height: 329.53px;
        background-size: 352.8px 329.53px;
        // transform: rotate(-9.2deg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('./../../images/signUp2x.png');
}
}

.bgImagesMsg {
    @media screen and (min-width: 1200px) {
        background-image: url('./../../images/singUpMsg.png'); 
        background-repeat: no-repeat;
        position: absolute;
        width: 174px;
        height: 123px;
        background-size: 174px 123px;
        bottom: 272px;
        left: 100px;
    }
}
.bgImagesText {
    display: none;
    @media screen and (min-width: 1200px) {
    display: block;
    text-align: center;
    margin-top: 35px;
    margin-left: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.14;
    color: $primary-text-color;
    transform: rotate(-27deg);
    width: 140px;
    height: 48px;
}}
.span {
    color: $accent-background-color;
}


.invalid-feedback{
    color: #dc3545;
    margin-top: 8px;
    font-size: 12px;
}


.is-invalid {
    border-color: #dc3545;
    color: #dc3545;

}

.is-valid {
    border-color: #3CBC81;
    color: #3CBC81;
}

