@import-normalize;
@import './fonts/fonts.scss';
@import './styles/vars.scss';
@import './styles/common.scss';

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
button {
  display: block;
  background: none;
  border: none;
}

svg {
  display: block;
  height: 1em;
  width: 1em;
}

$primary-font: 'Inter', sans-serif;
$secondary-font: 'Coolvetica', sans-serif;
:root{
  --button-background-color:#3e85f3;
    --button-text-color: #ffffff;

}

.lightTheme {
  /* background colors */
  --primary-background-color: #ffffff;
  --secondary-background-color: #f7f6f9;
  --sidebar-background-color: #ffffff;

  --accent-background-color: #3e85f3;
  --active-item-sidebar-background: #e3f3ff;
  --accent-add-btn-background: #3e85f3;
  --auth-bg-color: #dcebf7;
  --background-color-task-column:#ffffff;



  --border: 1px solid rgba(220, 227, 229, 0.8);
  --border-calendar: 1px solid rgba(220, 227, 229, 0.5);
  --border-calendar-period-type: 1px solid rgba(62, 133, 243, 0.2);
  --border-auth: 1px solid rgba(220, 227, 229, 0.6);
  --border-form-input:rgba(17, 17, 17, 0.15);
  --border-add-button: 1px dashed rgba(62, 133, 243, 1);
  --border-task-column: 1px solid rgba(220, 227, 229, 0.8);
  --border-avatar: 1.8px solid #3e85f3;


  /* text-color */
  --logo-text-color: #3e85f3;
  --primary-text-color: #111111;
  --secondary-text-color: #616161;
  --accent-text-color: #3e85f3;
  --accent-btn-background: #3e85f3;
  --btn-text-color: #ffffff;
  --not-active-item-sidebar-text-color: #84828a;
  --auth-placeholder-color: #dce3e5;
  --userpage-text: #343434;
  --user-panel-text: #7e7d82;

  /* calendar */
  --calendar-digit-color: #343434;
  --priority-low-bg-color: #ceeefd;
  --priority-medium-bg-сolor: #fcf0d4;
  --priority-high-bg-color: #ffd2dd;
  --active-button-period-type: #cae8ff;
  --button-period-type: #e3f3ff;
  --close-btn-color: #111111;

  /* tasks */
  --task-priority-low-color: #72c2f8;
  --task-priority-medium-color: #f3b249;
  --task-priority-high-color: #ea3d65;
  --task-input-bg-color: #f7f7f7;
  --task-btn-cancel-bg-color: #efefef;
  --task-bg-move-box: #ffffff;
  --task-text-color-light:#616161;


  /* scroll */
  --scrollbar-color: #e7e5e5;
  --scrollbar-bg-color: #f2f2f2;
    --scrollbar-color-task: #e7e5e5;
      --scrollbar-bg-color-task: #f2f2f2;

  /* decorations */
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.darkTheme {
  /* background colors */
  --primary-background-color: #21222c;
  --secondary-background-color: #171820;
  --sidebar-background-color: #13151a;
  --active-item-sidebar-background: #3e85f3;
  --border-form-input:rgba(255, 255, 255, 0.15);
  --accent-add-btn-background: #cae8ff;
  --background-color-task-column: #21222C;


  /* text-color */
  --logo-text-color: #e3f3ff;
  --primary-text-color: #ffffff;
  --secondary-text-color: #616161;
  --accent-text-color: #ffffff;
  --accent-btn-background:#3e85f3;

  --not-active-item-sidebar-text-color: #ffffff;
  --auth-placeholder-color: #dce3e5;
  --userpage-text: #ffffff;
  --user-panel-text: rgba(250, 250, 250, 0.3);

  /* calendar */
  --calendar-digit-color: #ffffff;
  --priority-low-bg-color: #ceeefd;
  --priority-medium-bg-сolor: #fcf0d4;
  --priority-high-bg-color: #ffd2dd;
  --active-button-period-type: #3E85F3;
  --button-period-type: #21222C;
  --close-btn-color: #111111;

  /* tasks */
  --task-priority-low-color: #72c2f8;
  --task-priority-medium-color: #f3b249;
  --task-priority-high-color: #ea3d65;
  --task-input-bg-color: #f7f7f7;
  --task-btn-cancel-bg-color: #efefef;
  --border-task-column: 1px solid rgba(255, 255, 255, 0.15);
  --task-bg-move-box: #171820;
  --task-text-color-light: #ffffff;
  --border-avatar: 1.8px solid #3e85f3;

  /* scroll */
  --scrollbar-color: #e7e5e5;
  --scrollbar-bg-color: #f2f2f2;
  --scrollbar-color-task: #171820;
    --scrollbar-bg-color-task: #2D3037;

  /* decorations */
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* borders */
  --border-add-button: 1px solid rgba(62, 133, 243, 1);

}
