@import-normalize;
@import './styles/fonts.scss';
@import './styles/vars.scss';
@import './styles/common.scss';

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
button {
  display: block;
  background: none;
  border: none;
}

svg {
  display: block;
  height: 1em;
  width: 1em;
}

