@import '../../../styles/vars';
/* (375, 768, 1440) */

.card {
    background-color: var(--secondary-background-color);
    padding: 14px;
    border: var(--border-task-column);
    border-radius: 8px;
}

.title {
    font-family: $primary-font;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 32px;
    text-align: left;
    font-size: 14px;
    color: var(--primary-text-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.block {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
}

.user {
    display: flex;
    // flex-direction: row;
    align-items: flex-end;
}

.userAvatar {
    margin-right: 8px;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    border: var(--border-avatar);
    border-radius: 50%;
}

.priority {
    padding: 4px 12px;
    border-radius: 4px;
    font-family: $primary-font;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: var(--secondary-background-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

    &.low {
        background-color: var(--task-priority-low-color);
    }

    &.medium {
        background-color: var(--task-priority-medium-color);
    }

    &.high {
        background-color: var(--task-priority-high-color);
    }
}