@import './../../styles/vars';


.user-page{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 335px;
    height: 653px;
    padding: 0 18px 0 18px;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid red;
    background: #FFFFFF;
    border-radius: 16px;
    @media screen and (min-width:767px ) {
        display: flex;
        padding: 40px 175px 40px 175px;
    }
}
.user-page__avatar-container{
    display: flex;
    flex-direction:column;
    margin-bottom: 40px;
    @media screen and (min-width:767px) {
        position: relative;
        display: flex;
        flex-direction: column;
        transform: none;

    }
}
.user-page__avatar{
    position: relative;
    width: 72px;
    height: 72px;
    border: 2px solid #3E85F3;
    border-radius: 50%;
    margin-bottom: 18px;
    left: 50%;
    top: -20%;
    transform: translate(-50%,-50%);

    @media screen and (min-width:767px) {
        width: 124px;
        height: 124px;
        margin-bottom: 20px;
    }
}
.avatar-upload-btn{
    position: absolute;
        width: 14px;
        height: 14px;
        left: 52%;
        top: 3%;
    background-image: url(../../images/avatarPlus.svg);

    @media screen and (min-width:767px) {
        width: 24px;
        height: 24px;
        top: 18%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
        
}

.user-page__name{
    display: flex;
    flex-direction:column;
    width: 74px;

        height: 18px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;

        color: #343434;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin-bottom: 4px;
}
.user-page__role{
    display: flex;
    flex-direction:column;
    margin-left: auto;
    margin-right: auto;
    width: 28px;
    height: 14px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #616161;
        flex: none;
        order: 1;
        flex-grow: 0;
}
.username_form{
    display: flex;
    flex-direction:column;
    width: calc(100% - 36px);

    @media screen and (min-width:767px) {
        position: relative;
        top: auto;
    }

}
.username_form-label{
    margin-bottom: 8px;
    width: 64px;
    height: 14px;
    
    font-family: $primary-font;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #111111;
}
.username_form-input{
    box-sizing: border-box;
        height: 42px;
        left: 0px;
        top: 0px;
        margin-bottom: 18px;
    
        border: 1px solid rgba(17, 17, 17, 0.1);
        border-radius: 8px;

        font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
        
            /* identical to box height, or 129% */
        
            color: #111111;
    
}
.username_form-input--last{
    margin-bottom: 0;
}
.username__form-submit{
    display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 20px 10px 20px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        margin-bottom: 40px;
        isolation: isolate;

        width: 195px;
        height: 46px;
        left: calc(50% - 195px/2);
        top: 567px;
    
        background: #3E85F3;
        border-radius: 16px
}